@import url('http://fonts.cdnfonts.com/css/geomanist');

@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-Black.otf');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: grid;
}

.body{
    background-color: #F1F2F3;
}

main{
    margin-top: 6%;
}

h1{
    font-family: 'Geomanist', sans-serif;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    padding: 10px;
}

h3 {
    font-family: 'Merriweather', serif;
    padding-top: 2%;
}

h4 {
    font-size: 12px;
}

h5{
    font-size: 24px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: medium;
}

full-stop{
    color: #FFC803;
}


/* NAV */
navbar{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

nav .navbar-brand{
    font-family: 'Oswald', sans-serif;    
}

.nav-link{
    color: #000000 !important; 
    font-size: 18px;
    font-weight: bold;
}

.nav-link:hover{
    color: #FFC803 !important;
}

.nav-link span{
    font-size: 20px;
    color: #FFC803;
}


/* PROFILE */
.profile {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
 
.profile .title{
    font-size: 50px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0 0 25px;
    color: #FFC803;
}

.profile h1{
    font-size: 50px;
    font-weight: 400;
    color: #0b0b0b;
    line-height: 1.1;
    margin: 0 0 25px;
}
 .profile p{
    font-size: 20px;
 }
 .home-image{
    text-align: center;
 }

.home-image img{
    max-width: 110%;
}

 /* WORK */
 .second{
    /* background-color: #FFFFFF; */
    padding: 3%;
 }

 .third{
    background-color: #000000;
    color: #FFFFFF;
    padding: 3%;
 }

 .section-heading{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
 }

 .section-heading h3{
    font-size: 45px;
    padding-bottom: 2%;
    margin-bottom: 0;
    margin-top: 0;
 }

 .section-heading > span {
    padding: 0;
    margin: 0;
    width: 70px;
    border-bottom: 4px solid;
    z-index: 1;
    margin-bottom: 1.2em;
    border-radius: 5px;
  }

.portfolio-box {
    /* border: 1px solid #000000; */
    /* outline-style: dotted; */
    /* background: #fff; */
    /* box-shadow: 0 0 0 0 #18171c; */
    transition: ease all 0.35s;
    border-radius: 8px;
}

.portfolio-image img{
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.portfolio-box .portfolio-info {
    padding: 20px;
    position: relative;
    color: #0b0b0b;
    border-bottom: 1px solid #0b0b0b;
}

.portfolio-box .portfolio-info p{
    color: #495057;
}

.portfolio-box .portfolio-info a {
    /* text-decoration: none; */
    color: #0b0b0b;
    border-bottom: 2px solid #FFC803;
    font-weight: 100;
}

.portfolio-box .portfolio-info a:hover {
    text-decoration: none;
    color: #FFC803;
    font-weight: 100;
}

.portfolio-box .portfolio-info h6{
    font-size: 20px;
    color: #000000;
    margin: 0 0 8px;
}

.tagging {
    border: 0.5px solid #495057;
    color: #495057;
    display: inline-flex;
    border-radius: 15px;
    font-size: 12px;
    padding: 0 0.8rem;
    max-width: 100px;
    text-align: center;
    height: 24px;
    line-height: 24px;
}


.breadcrumb{
    background-color: #FFFFFF;
}

.breadcrumb-item a{
    color: #000000;
}

.project-header h1{
    margin-bottom: 3rem;
    font-weight: 200;
    font-size: 3rem;
}

.details h4{
    color: #0b0b0b;
    font-size: 18px;
    font-weight: 600;
}

.feature-box-01{
    padding: 40px;
    outline-style: dotted;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    transition: ease all 0.35s;
}

footer{
    margin-top: 5%;
}

/* STACK */
.tech-stack{
    background-color: #FFFFFF;
    padding: 3%;
}

.tech-stack .stack-imgs {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  
.tech-stack .stack-imgs > img {
    width: 100px;
    height: 100px;
    margin: 10px;
}